body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.deployment-group {
    padding-bottom: 25px;
    margin-bottom: 45px;
    border-bottom: 1px solid #ddd;
}

.no-deployments {
    font-weight: bold;
    font-size: 11px;
    color: #999;
    margin: 25px 0 0 10px;
    text-transform: uppercase;
}

.container {
    width: 99%;
}

.page-generated {
    font-weight: bold; 
}

.state-failed {
    color: red;
}